body {
  background-color: #ffde00;
}

.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.grid-container {
  margin: 20px;
  margin-top: 100px;
  display: grid;
  width: 90%;
  text-align: center;
  grid-template-columns: 21.25% 21.25% 21.25% 21.25%;
  box-sizing: content-box;
  gap: 10px 5%;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-family: 'Press Start 2P';
  background-color: #3b4cca;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 1;
}

.nav h1 {
  padding: 15px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: white;
  opacity: 0.5;
  position: fixed;
  z-index: 2;
}

.nav #top {
  margin-left: auto;
  margin-right: 40px;
  font-size: 30px;
  cursor: pointer;
}

.nav .search-container {
  margin-left: 40px;
}

.nav .search-container .search {
  border: 2px solid darkgray;
  border-radius: 10px;
}

.nav .pk-drop {
  border-color: white;
  border: 3px solid white;
}
